/* src/index.css */
:root {
  font-family: 'JetBrains Mono', monospace;
}

body {
  margin: 0;
  /* Subtle Cyberpunk Grid Background */
  background-color: #0d1117;
  background-image: 
    linear-gradient(rgba(47, 129, 247, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(47, 129, 247, 0.05) 1px, transparent 1px);
  background-size: 30px 30px;
}

/* Custom Dark Scrollbar - Slimmer & sleeker */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #30363d; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #58a6ff; /* Blue glow on hover */
}

/* Fix for Monaco Editor scrollbars to match */
.monaco-editor .scrollbar .slider {
  background: #30363d !important;
  border-radius: 10px !important;
}
.monaco-editor .scrollbar .slider:hover {
  background: #58a6ff !important;
}